@font-face {
  font-family: Lato;
  src: url(../Font/Lato/Lato-Black.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.red {
  color: #ff003c;
}

.gray {
  color: #515255;
}

section {
  padding: 60px;
}

.banner {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 50px;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner .textBx {
  z-index: 10;
  color: white;
  max-width: 280px;
  padding-left: 100px;
}

.banner .textBx h2 {
  font-size: 6em;
}

.banner .textBx span {
  font-size: 1.5em;
}

.banner .textBx .opentime {
  font-size: 2.5em;
  text-align: center;
  margin: 15px;
}

.banner .textBx .btn {
  position: relative;
  background: #ff003c;
  display: inline-block;
  color: #fff5f6;
  margin-top: 20px;
  border-radius: 5px;
  padding: 13px 30px;
  font-size: 0.8em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
}

.banner .overplay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #111;
  opacity: 0.4;
}

.banner .banner-icon {
  z-index: 10;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner .banner-icon a {
  color: white;
  margin: 10px 10px;
}

.banner .banner-play-trailer {
  z-index: 10;
  position: absolute;
  right: 150px;
  color: white;
}

.banner .banner-next-movie {
  z-index: 10;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 350px;
  height: 150px;
  background-image: url("http://localhost/Cinema/Public/Imgs/banner-1.png");
  background-size: cover;
  background-position: center;
}

header.sticky {
  background: #fff;
  padding: 25px 50px;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

header.sticky .logo {
  color: #111;
}

header.sticky ul li a {
  color: #111;
}

header.sticky ul li .search-icon,
header.sticky ul li .input-search {
  border-color: black;
  color: black;
}

header.sticky ul li .input-search.show-input {
  border-color: black;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 40px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .logo {
  color: #fff;
  font-size: 1.2em !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

header .header-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2em;
}

header .header-section li {
  position: relative;
  list-style-type: none;
}

header .header-section li a,
header .header-section li .input-search {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .header-section li i {
  position: relative;
  color: white;
}

header .header-menu {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header-button-group {
  padding-right: 20px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header-button-group li .header-button-group-item {
  margin: 0 20px;
}

header .header-button-group li .search-icon {
  margin-top: 5px;
  margin: 0 20px 0 0;
  cursor: pointer;
}

header .header-button-group li .input-search {
  height: 2em;
  background: transparent;
  outline: none;
  border-radius: 5px;
  border-color: white;
  font-size: 1em !important;
  font-weight: 300;
  border-width: thin;
  width: 2px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

header .header-button-group li .input-search.show-input {
  width: 200px;
  border-color: white;
  padding: 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .header-button-group li .input-search:focus {
  -webkit-box-shadow: 0 0 5pt 2pt #D3D3D3;
          box-shadow: 0 0 5pt 2pt #D3D3D3;
}

header .header-button-group li .btn {
  background: #ff003c;
  color: #fff5f6;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 0.8em;
}

.home-content {
  background-color: #0f1014;
  color: white;
  padding: 150px 180px 100px 180px;
}

.home-content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.home-content .header h1 {
  font-size: 2.5em;
}

.home-content .header a {
  text-decoration: none;
  font-size: 0.7em;
}

.home-content .home-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px 0;
}

.home-content .home-content-list .home-content-item {
  margin: 30px 0;
  width: 190px;
  height: 400px;
}

.home-content .home-content-list .home-content-item .home-content-item-img {
  position: relative;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.home-content .home-content-list .home-content-item .home-content-item-img .home-content-item-overplay {
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.home-content .home-content-list .home-content-item .home-content-item-img .home-content-item-overplay i {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0;
}

.home-content .home-content-list .home-content-item .home-content-item-img:hover .home-content-item-overplay {
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-content .home-content-list .home-content-item .home-content-item-img:hover .home-content-item-overplay i {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.home-content .home-content-list .home-content-item .home-content-item-info {
  margin-top: 15px;
}

.home-content .home-content-list .home-content-item .home-content-item-info .home-content-item-info-top {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-content .home-content-list .home-content-item .home-content-item-info .home-content-item-info-top h5 {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.home-content .home-content-list .home-content-item .home-content-item-info .home-content-item-info-top .love-icon {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: end;
  padding: 0 5px;
}

.home-content .home-content-list .home-content-item .home-content-item-info .home-content-item-info-bottom span {
  font-size: 0.5em;
}

footer {
  height: 450px;
  background-color: #090a0e;
  padding: 100px 180px;
  color: #515255;
}

footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-top .footer-logo {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

footer .footer-top .footer-logo h2 {
  color: #D3D3D3;
}

footer .footer-top .footer-menu {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

footer .footer-top .footer-subscribe {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

footer .footer-top .footer-subscribe .subscribe-form {
  color: #D3D3D3;
}

footer .footer-top .footer-subscribe .subscribe-form label {
  font-size: 0.9em;
}

footer .footer-top .footer-subscribe .subscribe-form input {
  background-color: #090a0e;
  border: none;
  margin: 25px 0 10px 0;
  font-size: 0.7em;
  outline: none;
  color: #D3D3D3;
}

footer .footer-top .footer-subscribe .subscribe-form hr {
  border-color: #646464;
  margin-bottom: 20px;
}

footer .footer-top .footer-subscribe .subscribe-form .footer-subscribe-btn {
  text-decoration: none;
  font-size: 0.6em;
}

footer .footer-bottom {
  font-size: 0.7em;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-bottom .footer-copyright {
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  line-height: 20px;
}

footer .footer-bottom .footer-icon {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

footer .footer-bottom .footer-icon a {
  font-size: 1.2em;
  text-decoration: none;
  color: #646464;
  margin-right: 30px;
}
/*# sourceMappingURL=style.css.map */